name: Camry Alert

on:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:

jobs:
  camry-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          pip install selenium webdriver-manager

      - name: Run Camry Alert Script
        env:
          EMAIL_CAMRY_PASSWORD: ${{ secrets.EMAIL_CAMRY_PASSWORD }}
        run: python car/camry_alert.py

      - name: Upload JSON artifacts
        uses: actions/upload-artifact@v3
        with:
          name: camry-json
          path: car/
